// Colors
$backgroundColor: #371a45;
$iconColor: #fff;
$lightTextColor: #fff;

// Size
$fontSizeNavLink: 1.2rem;
$gapMenuList: 40px;
$paddingMenu: 20px 20px;
$iconSize: 30px;

//Breakpoints
$breakpoint-mobile: 1023px;
$breakpoint-small-mobile: 525px;

// Font
$mainFontFamily: "DM Sans", serif;
$logoFontFamily: "Noto Serif", serif;

// Gaps
$listGap: 15px;

// Padding
$mainPadding: 10px;
